/* Estilo da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body {
    background-color: #101010;
    font-family: "Roboto", sans-serif;
    color: #fff; /* Adiciona uma cor de texto padrão */
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Estilos do menu */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

header a {
    color: #e9967a;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: 1s;
}

header a:hover {
    color: bisque;
    transform: scale(1.05);
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 0 20px;
}

.btn_contacto button {
    padding: 10px 40px;
    font-size: 18px;
    background-color: #e9967a;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

header .btn_contacto button:hover {
    box-shadow: 0px 0px 5px bisque;
}

/* Contentor principal flex e ajuste de conteúdo na página */
.interface{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projetos{
width: 340px;
height: 340px;
}

.projetos img{
    width: 100%;
    height: 100%;
}

/* Ajuste no menu para espaçamento entre itens */
.menu_pc ul {
    display: flexbox;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_pc li {
    padding: 0 20px;
}

.menu_pc a:hover {
    transform: scale(1.1);
}

